/*//////////////////////////////////////////////////////

  CONFIG / Base

///////////////////////////////////////////////////// */

/* =====================================================
    Box-Sizing
=====================================================  */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* =====================================================
    Global Setup
=====================================================  */
html, body{
  width:100%;
  height:100%;
}

body {
  color: $color-text;
  font-family: $font-alt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
}
