/*//////////////////////////////////////////////////////

  CONFIG / Variables

///////////////////////////////////////////////////// */

/* =====================================================
    Color variables
=====================================================  */
/* -- Main Color ----- */
$color-1  : #264653;
$color-2  : lighten($color-1, 10%);
$color-3  : #2A9D8F;
$color-4  : lighten($color-3, 10%);
$color-5  : #E9C46A;
$color-6  : lighten($color-5, 10%);
$color-7  : #F4A261;
$color-8  : lighten($color-7, 10%);
$color-9  : #E76F51;
$color-10 : lighten($color-9, 10%);

/* -- Text color ----- */
$color-text: #000000;

/* =====================================================
    Font variables
=====================================================  */
$font-main: Georgia,Times,"Times New Roman",serif;
$font-alt: "Helvetica Neue",Helvetica,Arial,sans-serif;
