extend ../layout/base
block content
  nav.flex-nav
    .nav-logo
      | LOGO
    a.nav-link(href="http://www.google.fr")
      | Nav 1
    a.nav-link(href="http://www.google.fr")
      | Nav 2
    a.nav-link(href="http://www.google.fr")
      | Nav 3
