extend ../layout/base
block content
  nav.flex-nav
    .nav-logo
      | LOGO
    .nav-links
      a(href="http://www.google.fr").link-1
        | Nav 1
      a(href="http://www.google.fr").link-2
        | Nav 2
      a(href="http://www.google.fr").link-3
        | Nav 3
