/*//////////////////////////////////////////////////////

  Playing With Flexbox
  SCSS File

///////////////////////////////////////////////////// */

/* =====================================================
    Config & Variables
=====================================================  */
@import 'config/variables';
@import 'config/base';

/* =====================================================
    Flexbox Stuff
=====================================================  */
// Block Colors
.block{
  &.block-1{
    background-color: $color-1;
  }

  &.block-2{
    background-color: $color-2;
  }

  &.block-3{
    background-color: $color-3;
  }

  &.block-4{
    background-color: $color-4;
  }

  &.block-5{
    background-color: $color-5;
  }

  &.block-6{
    background-color: $color-6;
  }

  &.block-7{
    background-color: $color-7;
  }

  &.block-8{
    background-color: $color-8;
  }

  &.block-9{
    background-color: $color-9;
  }

  &.block-10{
    background-color: $color-10;
  }
}

// Wraper
.wrapper{
  display: flex;
  flex-direction:row;
}


// Block Setup
.block{
  color: white;
  text-align:center;
  font-size:100px;
  flex:1;
}